body {
    margin: 0;
    padding: 0;
    font-family: Tahoma;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-focus-ring-color: rgba(255, 255, 255, 0);
    outline: none;
}

img {
    border: 0;
}

.hidden {
    display: none !important;
}

.visibility {
    visibility: hidden;
}

.table {
    display: table;
    margin: 0 auto;
    width: 100%;
    table-layout: fixed;
}

.tr {
    display: table-row;
    height: 100%;
}

.td {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100%;
}
